body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  background-color: white;
}

.container {
background-color: cornsilk;
}

.row {
  background-color: white;
}
.green {
  border: 1px solid rgb(87, 184, 87);
  border-radius: 10px;
}

.button {
  background-color: palegreen;
  border-radius: 10px;
  text-align: center;
}