.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  text-align: left;
}

.banner {
  /* opacity: 0.8; */
  background-image: url("./BannerImage.jpg");
  background-size: cover;
  background-position: bottom center;
  rotate: 90deg;
  height: 150px;
  width: auto;
  padding-bottom: 100px;
  margin: 0;
  transform: scale(1.1);
  /* z-index: -3;
  position:relative; */
}
.content {
  /* border: 3px solid white; */
  color: whitesmoke;
  border-radius: 20px;
  top: 100px;
  width: auto;
  margin: 5px;
  text-align: left;
  position:relative;
  background-image: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-styles {
  background-image: linear-gradient(orange, white);
}

.taskBreak {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid grey;
  text-align: left;
}

.new {
  padding-top: 25px;
}



